/* Per body e html (Chrome, Safari, Edge) */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

/* Per body e html (Firefox) */
body, html {
  scrollbar-width: none !important;
}

/* Per tutti i div scrollabili */
.div-scroll::-webkit-scrollbar {
  display: none;
}
.div-scroll {
  scrollbar-width: none;
}
