.BGHome{
background: linear-gradient(154deg,#ff0000,#000000);
  background-size: 120% 400%;
  animation: gradient-animation 2s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}